@import "styles/style.scss";

.container {
    border-bottom: 0.1rem solid $gray--dark;

    td {
        padding-top: 1.5rem;
    }

    td:not(:first-of-type) {
        text-align: center;
    }

    .count {
        display: flex;
        justify-content: center;

        .arrow {
            user-select: none;
            cursor: pointer;
        }

        .value {
            margin: 0 0.7rem;
        }
    }

    .imageContainer {
        .image {
            width: 10rem;
            height: 10rem;
        }
    }

    .description,
    .quantity,
    .price {
        padding: 0 3vw;
    }

    .removeButton {
        user-select: none;
        cursor: pointer;
    }

    @media screen and (max-width: 500px) {
        .description {
            display: none;
        }
    }
}

.bold {
    font-weight: bold;
}
