@import "styles/style.scss";

.container {
    display: flex;
    flex-direction: column;
    width: 38rem;

    .header {
        display: flex;
        flex-direction: column;

        h2 {
            margin: 1rem 0;
            font-size: $font-size--larger;
        }

        span {
            font-size: $font-size--small;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}
