.container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    min-width: 30rem;

    .title {
        margin: 0 auto 3rem;
        font-size: 3.8rem;
    }

    .items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
      
        @media screen and (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
        }
      
        & .collection-item {
            margin-bottom: 3rem;
        }
    }
}
