@import "styles/style.scss";

.container {
    position: absolute;
    z-index: 5;
    top: 7rem;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 34rem;
    padding: 2rem;
    border: 1px solid black;
    background-color: white;
    animation: fade-in .1s;

    .cartItems {
        @include scrollbar-for("&");
        display: grid;
        row-gap: 1.5rem;
        overflow: auto;
        height: 24rem;
    }
    
    .emptyCartMessage {
        margin: 5rem auto;
        font-size: $font-size--medium;
    }
    
    button {
        margin-top: auto;
    }

    @media screen and (max-width: 500px) {
        width: 20rem;
    }
}
