@import "styles/style.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  min-height: 90vh;
  margin: 50px auto 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid darkgrey;

  .headerBlock {
    width: 23%;
    font-size: $font-size--small;
    text-transform: capitalize;

    &:last-child {
      width: 8%;
    }
  }
}

.total {
  margin-top: 30px;
  margin-left: auto;
  font-size: $font-size--largest;
}

.stripeCheckoutButton {
  margin-top: 50px;
  margin-left: auto;
}

.testWarning {
  margin-top: 40px;
  color: red;
  font-size: $font-size--larger;
  text-align: center;
}
