@import "styles/style.scss";

.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    section {
        margin-top: 4rem;
    }

    table {
        border-collapse: collapse;
    }

    th {
        border-bottom: 0.1rem solid $gray--dark;
        padding-bottom: 1rem;
        font-size: $font-size--small;
        font-weight: normal;
        text-transform: capitalize;
        text-align: center;

        &:first-of-type {
            text-align: left;
        }
    }

    .descriptionHeader,
    .quantityHeader,
    .priceHeader {
        padding-right: 3vw;
        padding-left: 3vw;
    }

    .total {
        font-size: $font-size--largest;
    }

    .stripeCheckoutButton {
        display: flex;
        justify-content: flex-end;
    }

    .testWarning {
        color: $error-color;
        font-size: $font-size--larger;

        .testCardsList {
            padding: 0;
            margin: 1rem 0 0 0;
            list-style-type: none;
        }
    }

    @media screen and (max-width: 500px) {
        .descriptionHeader {
            display: none;
        }
    }
}
