@import "styles/style.scss";

.container {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.shoppingIcon {
  width: 24px;
  height: 24px;
}

.itemCount {
  position: absolute;
  bottom: 12px;
  user-select: none;
  font-size: $font-size--smallest;
  font-weight: bold;
}
