@import "styles/style.scss";

.container {
    display: flex;
    flex-direction: column;
    max-width: 40rem;

    .header {
        display: flex;
        flex-direction: column;

        .title {
            margin: 1rem 0;
            font-size: $font-size--larger;
            font-weight: bold;
        }

        span {
            font-size: $font-size--small;
        }
    }

    button {
        width: 100%;
    }
}
