@import "styles/style.scss";

html {
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family--normal;
    font-size: $font-size--medium;
    color: $text-color--normal;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: $scrollbar-width;
    }

    &::-webkit-scrollbar-track {
        background-color: $scrollbar-track-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb-color;
    }

    a {
        color: $text-color--normal;
        text-decoration: none;
    }

    * {
        box-sizing: border-box;
    }
}

.container {
    display: grid;
    justify-content: center;
    row-gap: 2rem;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(auto, 128.0rem);
    min-height: 100vh;
    padding: 0 4vw;
    margin: 0;
}
