@import "styles/style.scss";

@mixin shrinkLabel {
    top: -1.4rem;
    color: $text-color--normal;
    font-size: $font-size--smaller;
}

.container {
    position: relative;
    margin: 4.5rem 0;

    .formInput {
        display: block;
        width: 100%;
        padding: 1rem 1rem 1rem 0.5rem;
        border: none;
        border-bottom: 0.1rem solid $input-text-color;
        border-radius: 0;
        margin: 2.5rem 0;
        background: none;
        background-color: white;
        color: $input-text-color;
        font-size: $font-size--medium;
      
        &:focus {
            outline: none;
        }

        &:focus ~ .label {
            @include shrinkLabel();
        }
    }

    input[type="password"] {
        letter-spacing: 0.3em;
    }

    .label {
        position: absolute;
        top: 1rem;
        left: 0.5rem;
        pointer-events: none;
        color: $input-text-color;
        font-size: $font-size--small;
        font-weight: normal;
        transition: 300ms ease all;
      
        &.shrink {
            @include shrinkLabel();
        }
    }
}
