@import "styles/style.scss";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;

    .optionsList {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    
    .homeTab,
    .optionItem {
        display: flex;
        align-items: center;
        height: 100%;
        background-color: $navbar-option-bg-color;
        font-size: $font-size--small;
        user-select: none;
        transition: 0.05s ease;
    
        &:hover {
            filter: invert(1);
        }
    
        a,
        span {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 1.5rem;
            cursor: pointer;
        }
    }
    
    .cartIconItem {
        padding-right: 0;
        padding-left: 0;
    }

    @media screen and (max-width: 800px) {
        .optionsList {
            width: 80%;
        }
    }

    @media screen and (max-width: 600px) {
        justify-content: flex-start;

        .optionsList {
            justify-content: flex-start;
            padding-left: 0;
        }
    }
}
