.container {
    display: grid;
    grid-template-columns: repeat(2, 38rem);
    row-gap: 5vh;
    column-gap: 5vw;
    justify-content: center;

    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
    }
}
