@import "styles/style.scss";

.container {
    display: flex;
    width: 100%;

    .image {
        height: 7rem;
    }

    .content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem 2rem;
    }
    
    .itemDetails {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 2rem;

        .description {
            font-size: $font-size--small;
        }
    }

    .removeButton {
        user-select: none;
        cursor: pointer;
    }

    @media screen and (max-width: 500px) {
        .description {
            display: none;
        }
    }
}
