$font-family--normal: "Open Sans Condensed", sans-serif;

$font-size--smallest: 1rem;
$font-size--smaller: 1.2rem;
$font-size--small: 1.6rem;
$font-size--medium: 1.8rem;
$font-size--large: 2rem;
$font-size--larger: 2.2rem;
$font-size--largest: 3.6rem;

$scrollbar-width: 1rem;

$gray--darkest: #141414;
$gray--darken: #6c6c6c;
$gray--dark: #9d9d9d;
$gray: #bcbcbc;
$gray--light: #e1e1e1;
$gray--lighten: #efeeea;
$gray--lightest: #fcfafa;

$color-primary: #000;
$color-secondary: #fff;
$color-tertiary: #4285f4;

$error-color: red;

$text-color--normal: $color-primary;
$text-color--info: $gray--darken;

$button-bg-color: $color-primary;
$button-bg-color--hover: $color-secondary;
$button-text-color: $color-secondary;
$button-text-color--hover: $color-primary;

$button-google-bg-color: $color-tertiary;
$button-google-bg-color--hover: #357ae8;
$button-google-text-color: $color-secondary;
$button-google-text-color--hover: $color-secondary;

$custom-link-border-color: $color-tertiary;
$custom-link-border-color--hover: #76abff;
$custom-link-text-color: $color-tertiary;
$custom-link-text-color--hover: #76abff;

$input-text-color: $gray--darken;

$menu-item-bg-color: $color-secondary;
$menu-item-border-color: $color-primary;
$menu-item-text-color: #4a4a4a;

$navbar-option-bg-color: $color-secondary;

$scrollbar-thumb-color: $gray;
$scrollbar-track-color: $color-secondary;
